### Java & Spring Boot ###
target/
bin/
*.class
*.jar
*.war
*.ear
*.log
hs_err_pid*

### IDEs (Cursor, VS Code, IntelliJ, Eclipse) ###
.idea/
.vscode/
*.iml
*.iws
*.ipr
out/
.metadata/
.settings/
.project
.classpath
.factorypath
.springBeans
*.launch
# .cursorrules  <-- Remova o # se NÃO quiser salvar as regras da IA no GitHub

### Build Tools (Maven/Gradle) ###
.gradle/
build/
# Mantemos o .mvn/ e mvnw para portabilidade do projeto

### Environment & Security ###
.env
*.env.[a-zA-Z0-9]*
*.pem
*.ppk
*.key
*.pub
application-local.properties
application-local.yml

### OS Specific ###
.DS_Store
Thumbs.db

